@import "../../base/globalVariables";
@import "../../base/colors";
.shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $mainBackgroundColor;

  .product {
    flex: 0 0 33.33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .productDisplay {
      position: relative;
      flex: 1;
      .productOverlay {
        position: absolute;
        left: 0;
        bottom: 5px;
        z-index: 10;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: $darkWhite
      }
    }
    .productButtons {
      flex: 1;
    }
  }
}