.shop {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  .product {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px
  }
}