@import "../../base/globalVariables";
@import "../../base/colors";
@import "../../base/typography";
.shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $mainBackgroundColor;
  .productWrapper {
    height: 450px;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .product {
      height: 400px;
      padding-left: 5px;
      padding-right: 5px;
      .productDisplay {
        height: 350px;
        width: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex: 1;
        z-index: 0;
        .productOverlay {
          display: flex;
          align-items: center;
          position: absolute;
          left: 0;
          bottom: 0;

          height: 50px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          .productTextOverlay {
            .productTitle {
              margin-left: 10px;
              margin-right: 10px;
              color: $darkWhite;
              font-size: 2em;
              font-weight: $fontWeightMedium;
            }

            .productSubtitle {
              font-size: 1.2em;
              color: $darkWhite;
              font-weight: $fontWeightMedium;
            }
          }
        }
      }
      .productButtons {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
      }
    }
  }
}